{% extends 'back/base_login.html.twig' %}

{% block body %}
    <div class="login-register" style="background-image:url({{ asset('img/background/login-register.jpg') }});">
            <div class="login-box card">
                <div class="card-block">
                    {{ form_start(form) }}
                    <h3 class="box-title m-b-20">Sign Up</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
                        {{ form_row(form.username) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.plainPassword.first) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.plainPassword.second) }}
                        </div>
                    </div>
                    {#<div class="form-group">#}
                        {#<div class="col-md-12">#}
                            {#<div class="checkbox checkbox-success p-t-0 p-l-10">#}
                                {#<input id="checkbox-signup" type="checkbox">#}
                                {#<label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="{{ path('login') }}" class="text-info m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
{% endblock %}